h1,
h2 {
  text-align: center;
}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.data > span:first-child {
  font-size: 1.4rem;
  font-weight: 500;
}
